

.App-header {
  background-color: #ED6362;
  min-height: 100vh;
  display: flex;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
